<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Big Image</title>
    <link rel="stylesheet" href="/css/carparkingslot.css">
</head>
<body>
    <div>        
        <div class="select-container"> 
            <label for="locations">Select a location:</label>
            <select class="custom-select" id="locations" onchange="showLocation()">
                <option value="new-york">Downtown Parking Lot</option>
                <option value="los-angeles">North Park Garage</option>
                <option value="chicago">Eastside Mall Parking</option>
                <option value="chicago">Central Business District</option>
            </select>
        </div>
        <div class="image-container">
            <img src="./image/carparkinglocation.png" alt="Big Image">
        </div>
    </div>
</body>
</html>
